.container-principal {width: 255px; height: calc(100% - 10px); background-color: var(--tertiary-background, #eeeeee); padding: 5px; border-left: 2px solid var(--color-border, #bdbdbd); position: fixed;}

.h100 {height: 100%;}

a  {text-decoration: none;}

.container-up {height: 255px;}
.container-down { height: 100%; overflow-y: auto; padding: 15px 20px; width: calc(95% - 40px) !important; display: flex; gap: 25px;}

.divisor {border-radius: 10px; width: 95%; display: flex; align-items: center; flex-direction: column;  border: 1px solid var(--color-border, #bdbdbd);}

.gap10 {gap: 10px;}

.m-10 {margin-block: 10px;}
.h45px {height: 45px;}

.dprice {font-size: 20px; margin-block: 10px; font-family: monospace, Arial, sans-serif; font-weight: normal;}

.separador {border-block: 1px solid var(--color-border, #bdbdbd); width: 50%;}

.shoppButton {border-radius: 30px; border: 1px solid var(--color-primary, #352d01); padding: 13px 30px; cursor: pointer; transition: box-shadow 0.3s; color: var(--color-label, #313131);}
.shoppButton:hover {box-shadow: 0px 0px 3px var(--color-primary, #352d01); border-color: #352d01;}

.emphasisButton {background-color: var(--color-primary, #352d01); border: 0; color: #FFF;}

.divproduct {position: relative;}

.delete-prod {width: 25px; height: 25px; 
              border-radius: 13px;
              margin-inline: 10px; 
              background-color: #ffffff; 
              display: flex; justify-content: center; align-items: center; 
              position: absolute;
              right: -10px;
              top: 0;
              cursor: pointer;}

.ff-Inter {font-family: "Inter"; font-size: 24px; margin-block: 15px;}