<div class="container-principal">
    <main  class="dispcol jc-center ai-c gap10">
        <div class="divisor">
            <div class="disprow jc-center ai-c">
                <h3>Carrinho</h3>
            </div>

            <div class="separador"></div>

            <div class="disprow jc-center ai-c">
                <h4>R$</h4>
                <h4>35,99</h4>
            </div>

            <div class="separador"></div>

            <div class="m-10">Ir ao Carrinho</div>
            <div class="m-10">Finalizar</div>

        </div>
        <div class="divisor">

        </div>
    </main>
</div>