<div class="container-principal">
    <main  class="dispcol ai-c gap10 h100">
        <div class="divisor container-up">
            <div class="disprow gap10 jc-center ai-c">
                <img src="assets/images/shopp-icon.png" height="25px">
                <h3 class="ff-Inter">Carrinho</h3>
            </div>

            <div class="separador"></div>

            <div class="disprow jc-center ai-c">
                <h4 class="dcurrency">R$</h4>
                <h4 class="dprice">25,99</h4>
            </div>

            <div class="separador"></div>

            <div class="m-10 h45px">
                <a href="/checkout">
                    <div class="shoppButton emphasisButton">Ir ao Carrinho</div>
                </a>
            </div>
            <div class="m-10 h45px">
                <a href="/checkout">
                    <div class="shoppButton">Finalizar</div>
                </a>
            </div>
        </div>
        <div class="divisor container-down" #produtsLists>
            <div class="divproduct" *ngFor="let miniCard of miniCards" #product>
                <div class="delete-prod" (click)="deleteProductInCart(product)">
                    <img src="assets/images/close-icon.png" height="10px">
                </div>

                <app-mini-card [title]="miniCard.title" [srcImages]="miniCard.src" [price]="miniCard.price" [extclass]="miniCard.extclass" [href]="miniCard.href"  [currency]="miniCard.currency"></app-mini-card>
            </div>

        </div>
    </main>
</div>