<main>
  <!-- Decoration -->
  <div class="lines" [ngClass]="{'dnone' : !initAnimation}">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

    <div class="path">
        <ol>
            <li>
                <a href="#" class="overcolor">Página Inicial</a>
                <span>></span>
            </li>
            <li>
                <a href="/checkout" class="overcolor">Finalizar compra</a>
            </li>
        </ol>
    </div>

    <div class="disprow jc-center">
        <div class="divisior"></div>
    </div>

    <div class="dflex ai-c w100 jc-c" [ngClass]="{'dnone' : !purchaseCompleted}">
      <div class="container-info">
        <div class="top">
          <div class="icon-ok">
            <img src="assets/images/icon ok purchases.png">
          </div>
          <div class="title">
            <label>Obrigado por comprar conosco! Recebemos seu pedido e ele foi registrado com sucesso em nosso sistema.</label>
          </div>
        </div>
        <div class="bottom">
          <div class="itens-images">
            <img *ngFor="let image of purchaseImage, let i = index" [ngClass]="{'g-0' : i == 0, 'g-45' : i == 1, 'g-90' : i == 2, 'dnone' : i > 2}" [src]="image">
          </div>
          <div class="message">
            <label>No momento, o seu produto está aguardando a confirmação do fornecedor, etapa necessária para que possamos iniciar o preparo e a separação do pedido com toda a qualidade e cuidado que você merece. Assim que essa confirmação for concluída, daremos sequência ao processo de envio para o endereço informado.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container">
        <div class="title">
            <h1>Carrinho de Compras</h1>
        </div>

        <div class="disprow jc-center">
            <div class="divisior"></div>
        </div>

        <div class="container-itens">
            <div class="itens" [ngClass]="{'dnone': (isEmptyCart$ | async) }">
                <app-order-item *ngFor="let orderproduct of cartItems$ | async as cartItems"
                                 [href]="orderproduct.href"
                                 [view]="orderproduct.src"
                                 [title]="orderproduct.title"
                                 [quantity]="orderproduct.quantity"
                                 [currency]="orderproduct.currency"
                                 [price]="orderproduct.price"
                                 [discount]="orderproduct.discount"
                                 [size]="orderproduct.size"
                                 [color]="orderproduct.color"
                                 [removeItem]="true"
                                 [product]="{product_id: orderproduct.product_id, size_id: orderproduct.size_id, color_id: orderproduct.color_id}"></app-order-item>
            </div>

            <div class="container-explorer" [ngClass]="{'dnone': !(isEmptyCart$ | async) }">
              <div class="explorer">
                Pelo visto você ainda não adicionou nenhum item ao seu carrinho! De uma olhada nas nossas recomendações pessoais
              </div>
              <div class="explorer-button">
                <a href="http://localhost:4200/products-list?category_id=3">
                  Explorar
                </a>
              </div>
            </div>

            <div class="checkout" [ngClass]="{'dnone': (isEmptyCart$ | async) }">
                <div class="title">
                    <h3>Resumo do pedido:</h3>
                </div>

                <div class="divisior mb5"></div>

                <div class="order">
                    <span>Total do(s) item(ns):</span>

                    <div class="price">
                        <span>R$</span>
                        <span>{{ getPriceSum() }}</span>
                    </div>
                </div>

                <div class="divisior mb5"></div>

                <div class="container-address">
                  <div class="order">
                    <span>Envio (Frete):</span>

                    <div class="price">
                        <span>R$</span>
                        <span>{{ fretePrice }}</span>
                    </div>
                  </div>

                  <div class="address">
                    <div class="description">
                      <label>Endereço Atual:</label>&nbsp;
                      <label class="negrito">{{ `${address.street}, ${address.neighborhood}, ${address.city}, ${address.state} - CEP: ${address.cep}` }}</label>
                    </div>

                    <div class="change-address">
                      <label>Endereço errado?</label>
                      <a href="http://localhost:4200/account/address">Trocar endereço</a>
                    </div>
                  </div>
                </div>

                <div class="divisior mb5"></div>

                <div class="order">
                    <span>Total do pedido:</span>

                    <div class="price">
                        <span>R$</span>
                        <span>{{ getPriceSumPlusDelivery() }}</span>
                    </div>
                </div>

                <div class="alertspan">
                    <span>Ao finalizar seu pedido, você concorda com nossos <a href="/">Termos de Uso</a> e <a href="/">Política de Privacidade</a></span>
                </div>

                <div class="divisior mb5"></div>

                <div class="mb15">
                    <div class="control-button" (click)="registerUserCartPurchases()">
                        <span>Finalizar Compra</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
