main {padding: 35px 60px;}
a {text-decoration: none;}

.dnone {display: none !important;}

.divisior {border: 1px solid var(--color-border, #bdbdbd);  width: 100%; margin-block: 15px;}

.mb5 {margin-block: 5px;}
.mb15 {margin-block: 15px;}

.path {margin-left: 10px; display: flex; gap: 5px;}
.path ol {flex-wrap: wrap; margin: 0; padding: 0; list-style: none; display: flex; gap: 5px;}
.path li {list-style-type: none;}
.path a {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 12px; margin-right: 5px;}

.path .overcolor:hover {color: #000000; text-decoration: underline}

.main-container {padding: 10px; background: var(--color-secundary, #f1f1f1);}

.title h1{color: #000000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; margin-block: 10px; user-select: none;}
.title h3{color: #000000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; margin-block: 10px; user-select: none;}

.container-itens {display: flex; flex-direction: row;}

.itens      {width: 60%;}
.checkout   {width: calc(40% - 50px); display: flex; flex-direction: column; align-items: center; gap: 10px; justify-content: flex-start; margin-inline: 25px; user-select: none;}

.order {display: flex; justify-content: space-between; width: 90%;}
.order .price {font-size: 15px; font-family: monospace, Arial, sans-serif;}
.order {font-family: 'Inter', sans-serif;}

.alertspan {font-size: 12px;}

.control-button  {border: 1px solid var(--color-border, #bdbdbd); background: var(--color-primary, #292617); color: var(--color-label-inv, #eaeaea); border-radius: 20px; padding: 10px 15px; cursor: pointer; transition: 0.2s ease-out; font-size: 21px;}
.control-button:hover {border: 1px solid var(--color-primary, #292617);}

.container-explorer { display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 50px; width: 100%; user-select: none;}
.explorer           { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; }
.explorer-button    { margin-block: 40px; background: var(--color-primary, #292617);  border-radius: 20px; padding: 10px 15px; }
.explorer-button a  {text-decoration: none;}
.explorer-button a:-webkit-any-link { color: var(--color-label-inv, #eaeaea); cursor: pointer;}

.dflex {display: flex;}
.ai-c  {align-items: center;}
.w100  {width: 100%;}
.jc-c  {justify-content: center;}

.container-info  {width: 80%; display: flex; flex-direction: column; background-color: #FFF; margin-bottom: 20px; border-radius: 10px; padding: 5px 10px;}
.top, .bottom    {display: flex; flex-direction: row; gap: 10px;}
.top {align-items: center;}
.bottom {position: relative;}

.top .title, .bottom .message {font-family: 'Inter', sans-serif;}
.top .title {font-weight: 600;}

.bottom .message {font-size: 13px; margin-left: 100px; height: 80px;}

.icon-ok img {width: 35px; height: 35px;}
.itens-images img {width: 60px; height: 70px; position: absolute;}

.itens-images .g-0  {transform: rotate(0deg);  z-index: 800;}
.itens-images .g-45 {transform: rotate(45deg); z-index: 700; margin-left: 30px;}
.itens-images .g-90 {transform: rotate(90deg); z-index: 600; margin-left: 40px; margin-top: 15px;}
