main {padding: 35px 60px; position: relative; overflow: hidden;}
a {text-decoration: none; z-index: 50}

.dnone {display: none !important;}

.divisior {border: 1px solid var(--color-border, #bdbdbd);  width: 100%; margin-block: 15px;}

.mb5 {margin-block: 5px;}
.mb15 {margin-block: 15px;}

.path {margin-left: 10px; display: flex; gap: 5px;}
.path ol {flex-wrap: wrap; margin: 0; padding: 0; list-style: none; display: flex; gap: 5px;}
.path li {list-style-type: none;}
.path a {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 12px; margin-right: 5px;}

.path .overcolor:hover {color: #000000; text-decoration: underline}

.main-container {padding: 10px; background: var(--color-secundary, #f1f1f1);}

.title h1{color: #000000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; margin-block: 10px; user-select: none;}
.title h3{color: #000000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; margin-block: 10px; user-select: none;}

.container-itens {display: flex; flex-direction: row;}

.itens      {width: 60%;}
.checkout   {width: calc(40% - 50px); display: flex; flex-direction: column; align-items: center; gap: 10px; justify-content: flex-start; margin-inline: 25px; user-select: none;}

.container-address {display: flex; justify-content: center; flex-direction: column; width: 90%;}
.container-address .order     {width: 100%;}
.container-address .address   {margin-top: 10px; font: 12px  'Inter', sans-serif;}
.container-address .address .negrito  {font-weight: 600;}
.container-address .address a {text-decoration: underline}

.order {display: flex; justify-content: space-between; width: 90%;}
.order .price {font-size: 15px; font-family: monospace, Arial, sans-serif;}
.order {font-family: 'Inter', sans-serif;}

.alertspan {font: 12px 'Inter', sans-serif; display: flex; width: 90%;}

.control-button  {border: 1px solid var(--color-border, #bdbdbd); background: var(--color-primary, #292617); color: var(--color-label-inv, #eaeaea); border-radius: 20px; padding: 10px 15px; cursor: pointer; transition: 0.2s ease-out; font-size: 21px;}
.control-button:hover {border: 1px solid var(--color-primary, #292617);}

.container-explorer { display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 50px; width: 100%; user-select: none;}
.explorer           { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400; }
.explorer-button    { margin-block: 40px; background: var(--color-primary, #292617);  border-radius: 20px; padding: 10px 15px; z-index: 50;}
.explorer-button a  {text-decoration: none;}
.explorer-button a:-webkit-any-link { color: var(--color-label-inv, #eaeaea); cursor: pointer;}

.dflex {display: flex;}
.ai-c  {align-items: center;}
.w100  {width: 100%;}
.jc-c  {justify-content: center;}

.container-info  {width: 80%; display: flex; flex-direction: column; background-color: #FFF; margin-bottom: 20px; border-radius: 10px; padding: 5px 10px;}
.top, .bottom    {display: flex; flex-direction: row; gap: 10px;}
.top {align-items: center;}
.bottom {position: relative;}

.top .title, .bottom .message {font-family: 'Inter', sans-serif;}
.top .title {font-weight: 600;}

.bottom .message {font-size: 13px; margin-left: 100px; height: 80px;}

.icon-ok img {width: 35px; height: 35px;}
.itens-images img {width: 60px; height: 70px; position: absolute;}

.itens-images .g-0  {transform: rotate(0deg);  z-index: 800;}
.itens-images .g-45 {transform: rotate(45deg); z-index: 700; margin-left: 30px;}
.itens-images .g-90 {transform: rotate(90deg); z-index: 600; margin-left: 40px; margin-top: 15px;}


/* decoration */
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.line {
  position: relative;
  width: 2px;
  height: 100%;
  /*background: #ffffff;  /* Line color */
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation-name: drop;
  animation-duration: 1.3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.15s;
}

.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #32CD32 75%, #32CD32 100%);
  animation-delay: 0.5s;
}

.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1E90FF 75%, #1E90FF 100%);
  animation-delay: 0.25s;
}

.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFD700 75%, #FFD700 100%);
  animation-delay: 0.75s;
}

.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #8A2BE2 75%, #8A2BE2 100%);
  animation-delay: 1.0s;
}

.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #20B2AA 75%, #20B2AA 100%);
  animation-delay: 0.4s;
}

.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #DC143C 75%, #DC143C 100%);
  animation-delay: 0.15s;
}

.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00FA9A 75%, #00FA9A 100%);
  animation-delay: 0.34s;
}

.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF1493 75%, #FF1493 100%);
  animation-delay: 0.2s;
}

.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00BFFF 75%, #00BFFF 100%);
  animation-delay: 1s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
