.container-main {display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px 10px; gap: 15px;}
.title          {font: 24px "Poppins", sans-serif;}
.title       h3 {margin-block: 2px;}
.name           {font: 20px "Inter", sans-serif;}
.about          {font: 17px "Poppins", sans-serif; text-align: center;}
.dnone         {display: none !important;}

.container-product {display: flex; flex-direction: row; gap: 10px;}
.product-image     {margin-top: 10px;}
.product-info      {display: flex; flex-direction: column;}

.control-buttons {display: flex; justify-content: center; align-items: center; gap: 10px;}
.control-button  {border: 1px solid var(--color-border, #bdbdbd); color: #fff; background: var(--color-primary, #eeeeee); border-radius: 30px; font-size: 18px; padding: 15px 20px; cursor: pointer; transition: 0.2s ease-out;}
.control-button:hover {border: 1px solid var(--color-primary, #292617);}

.alert {opacity: 0; visibility: hidden; transition: opacity 0.3s; display: flex; justify-content: center; margin-block: 10px;}
.alert span {color: #b60000; font-size: 14px; font-family: "Inter";}
.alert-active {opacity: 0.8; visibility: visible;}

.textarea-sett {margin-bottom: 20px;}

.textarea {
    width: 500px;
    height: 200px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.textarea:hover, .textarea:focus, .input-sett:hover .textarea {
  outline: none;
  border-color: #05060f;
}

.textarea-sett:hover .label, .textarea:focus {
  color: #05060fc2;
}
