
:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;
}

.ff-heebo  {font-family: 'Heebo', sans-serif;}
.ff-firaSans {font-family: 'Fira Sans Extra Condensed', sans-serif;}
.ff-roboto {font-family: 'Roboto', sans-serif;}

.dnone {display: none !important;}

.card {
  background: #ffffff;
  background: -webkit-linear-gradient(0deg, #ffffff 0%, var() 100%);
  background: linear-gradient(0deg, var(--primary-background, #e5e5e5) 0%, #ffffff00 100%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12), .3s border-radius;
  border: 0;
  border-radius: 1rem;
  width: 250px;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.card-title {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
             overflow: hidden;
             text-overflow: ellipsis; font-family: 'Playfair Display', serif; font-size: 15px;
             color: var(--color-label, #313131);
             margin-block: 15px 25px;
             height: 35px;}

.card h5 {
    overflow: hidden;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    position: relative;
}

.rounded-pill {
  border-radius: 50rem!important;
}

.spacebetween{
  display: flex;
  justify-content: space-between;
}

.mi-15{
  margin-inline: 15px;
}

.card-img-top {
  width: 100%;
  min-height: 130px;
  max-height: 130px;
  object-fit: contain;
  padding-block: 15px;
}

.card h2 {
    font-size: 1rem;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.card:hover {
  border-radius: 0;
  scale: 0.98;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.text-white {
    color: #fff!important;
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}

.text-uppercase {
    text-transform: uppercase !important;
}

.small, small {
    font-size: .875em;
}

/* START BUTTON */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-warning {
    background: var(--color-primary, #292617);
    color: #FFF;
    fill: #FFF;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}
.btn-warning:hover {
    background: var(--color-primary, #292617);
    color: #FFF;
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--color-primary, #292617);
    color: #FFF;
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-primary, #292617);
}
.btn-warning:active {
    background: var(--color-primary, #292617);
    color: #FFF;
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.text-muted {
    color: #6c757d!important;
}

.bg-success {
    font-size: 1rem;
    background-color: var(--color-primary, #292617) !important;
    color: var(--color-label-inv, #eaeaea)!important;
}
.bg-danger {
    font-size: 1rem;
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.include-list {
  float: right;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.float-start {
  float: left !important;
}

.float-end {
  float: right !important;
  display: flex;
  align-items: center;
  max-width: 102px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.float-end a {overflow: hidden; text-overflow: ellipsis;}

.mb-1 {
    margin-bottom: .25rem!important;
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 0.5rem!important;
}

.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}


.discount {
  color: #313131;
  position: absolute;
  top: -3%;
  opacity: 0.6;
  transform: rotate(339deg);
  display: flex;
  flex-direction: column;
}

.discount::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffcc00;
  border-radius: 2px;
  margin: 0 auto;
  transform: translateY(-10px);
}

.effect-discount {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.loader {
	display: block;
	position: relative;
	color: #ffcc00;
}

.loader::before,
.loader::after {
	content: '';
	position: absolute;
}

.loader--9 {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: currentColor;
	box-shadow: 0 0 calc(10vmin / 6) rgba(255, 255, 255, 0.3);
	animation: loader-9 calc(0.6s * 6) linear infinite;
}

.loader--9::before,
.loader--9::after {
	width: 5px;
	aspect-ratio: 1 / 1;
	background: currentColor;
	border-radius: 50%;
	animation: loader-9-1 0.6s cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
}

.loader--9::before {
	--x-dist: 0;
	--y-dist: calc(calc(10vmin / 6) / 2);
	bottom: calc(100% + calc(10vmin / 6));
	left: calc(50% - calc(5px / 2));
	transform-origin: center calc(10vmin / 6);
}

.loader--9::after {
	--x-dist: calc(calc(10vmin / 6) / 2);
	--y-dist: 0;
	top: calc(50% - calc(5px / 2));
	right: calc(100% + calc(10vmin / 6));
	transform-origin: calc(10vmin / 6) center;
	animation-delay: calc(0.6s / 2 * -1);
}

@keyframes loader-9 {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes loader-9-1 {
	0%, 100% {
		opacity: 0;
	}

  66% {
		opacity: 0.5;
	}

	33% {
		opacity: 0.7;
	}

	0% {
		transform: scale(1.1);
	}

	88% {
		transform: rotate(180deg) translate(var(--x-dist), var(--y-dist));
	}
}
