.container-principal {padding-inline: 15px; padding-bottom: 10px; position: relative; display: flex; justify-content: center;}

main  {width: 83%;}
.w-17 {width: 17%;}

/* style used in banners */
.banner {display: flex; flex-direction: column; position: absolute; z-index: 10;}
.transparent-filter { height: 300px; width: 100%;
                      position: absolute; bottom: 0;
                      background: var(--primary-background, #e5e5e5);
                      background: -webkit-linear-gradient(0deg, var(--primary-background, #e5e5e5) 0%, rgba(255, 255, 255, 0) 100%);
                      background: linear-gradient(0deg, var(--primary-background, #e5e5e5) 0%, rgba(255, 255, 255, 0) 100%);
}

.mt330 { margin-top: 330px;}

.z100 {z-index: 100;}
.z200 {z-index: 200;}
