.container-card {width: 330px; margin: 10px 30px; background-color: var(--tertiary-background, #eeeeee); overflow: hidden; }

.container {margin: 5px 10px;}

.dlegenda {height: 15%; font: 24px Arial, sans-serif; color: var(--color-label-card, #000); font-weight: bold; padding: 10px 5px;}

.grid-quadro {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; padding: 10px; height: calc(85% - 20px); box-sizing: border-box; gap: 3px;}
.grid-quadro img {height: 110px;}
