* {-webkit-tap-highlight-color: transparent;}

main {display: flex; padding: 20px 10px; margin-block: 10px; border: 1px solid var(--color-border, #bdbdbd); border-radius: 10px; position: relative;}

a  {text-decoration: none;}

a:-webkit-any-link {
    color: var(--color-label, #313131);
    cursor: pointer;
}

.view-item  {margin-right: 15px; margin-top: 10px;}
.about-item {margin-left: 3px; width: 100%;}

.title {display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-size: 14px; font-family: system-ui, Helvetica, Arial, sans-serif;}

.description {margin-bottom: 20px;}
.quantity {display: flex; justify-content: space-between;}

.dprice {display: flex; gap: 5px; position: absolute; bottom: 15px;}
.currency {font-size: 18px; font-family: monospace, Arial, sans-serif;}
.price    {font-size: 18px; font-family: monospace, Arial, sans-serif;}

.flex-box   {display: flex;}
.ai-c       {align-items: center;}
.jc-c       {justify-content: center;}
.jc-between {justify-content: space-between;}

.select-opt {width: fit-content;
             min-width: 103px;
             height: 30px;
             margin-left: auto;
             background: #fff;
             position: relative;
             border: 1px solid #d1d1d1;
             border-radius: 4px;
             cursor: pointer;
             padding-inline: 5px;}

.input-quant {display: flex;
              justify-content: center;
              -webkit-justify-content: center;
              align-items: center;
              -webkit-align-items: center;
              flex-direction: row;
              text-align: start;
              -webkit-appearance: none;
              width: 70px;
              height: 88%;
              font-size: 13px;
              color: #222;
              line-height: normal;
              font-weight: 500;
              padding-top: .01rem;
              text-indent: unset;
              outline: none;
              border: none;}

.select-opt:focus-within {
    border: 1px solid #000000;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /*Remove setas Firefox*/
}

.isDisabled {
    background: transparent;
}
