<main>
    <div class="view-item">
        <img [src]="view" width="100" height="100">
    </div>
    <div class="about-item">
        <div class="description">
          <div class="title"> {{ title }} </div>
        </div>
        <div class="quantity">
          <div> Unid: {{ unid }} Peça </div>
          <div>
            <div class="container-input">
              <div class="flex-box ai-c jc-between select-opt">
                <div>Qtd:</div>
                <input type="number" class="input-quant" value="1">
                <div class="flex-box ai-c jc-c" aria-hidden="true">
                  <img src="assets/images/arrow-down.png" alt="carregando">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dprice">
          <div class="currency"> {{ currency }}</div>
          <div class="price"> {{ price }} </div>
        </div>
    </div>
</main>
