<main>
  <div class="container-item">
    <div class="view-item">
        <img [src]="view" width="115" height="115">
    </div>
    <div class="about-item">
        <div class="description">
          <div class="title">
            <a [href]="href">
              {{ title }}
            </a>
          </div>
        </div>
        <div class="info">
          <div class="flex-box ai-c jc-between select-opt">
            <div>Tamanho:</div>&nbsp;&nbsp;
            <div>{{ size }}</div>
          </div>
        </div>
        <div class="info">
          <div class="flex-box ai-c jc-between select-opt">
            <div>Cor:</div>&nbsp;&nbsp;
            <div>{{ color }}</div>
          </div>
        </div>
        <div class="info">
          <div class="flex-box ai-c jc-between select-opt">
            <div>Qtd:</div>&nbsp;&nbsp;
            <div>{{ quantity }}</div>
          </div>
        </div>
        <div class="dprice">
          <div class="currency"> {{ currency }}</div>
          <div class="price"> {{ price }} </div>
        </div>
    </div>
  </div>

  <div class="container-remove" (click)="removeFromCart()">
    <div class="container-resume">
      <img src="assets/images/remove-icon.png" alt="loading...">
    </div>
    <div class="container-complete">Remover</div>
  </div>
</main>

