.container-categories { width: 180px; height: 100%; display: flex; flex-direction: column; border-right: 1px solid var(--color-border, #bdbdbd);}

.container-categories ol {max-height: 550px; 
                          overflow-y: auto;
                          padding: 0;
                          margin-block: 3px;
                          margin-right: 15px;}

.container-categories li {list-style-type: none; width: 100%;}

.title-component h3 {margin-block: 5px; font-family: "Inter"; font-weight: 400;}

.link {display: inline-block;  text-decoration: none; width: 100%;}

.button-category {display: flex; flex-direction: row; align-items: center; width: calc(100% - 10px); padding: 7px 5px; cursor: pointer; border-radius: 20px;}
.button-category:hover {background-color: #dadada;}

.name-categ {width: 90%; }
.name-categ label {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 14px; cursor: pointer;}

.arrow-link {width: 10px; height: 10px; filter: invert(50%); transform: rotate(270deg);}

.divisior {border: 1px solid var(--color-border, #bdbdbd); width: 90%;margin-block: 15px;}