<main>
    <div class="container-prod">
        <div>
            <div class="path">
                <ol>
                    <li>
                        <a href="#" class="overcolor">Página Inicial</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/products-list?category_id={{ category.id }}" class="overcolor">{{ category.name }}</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/products-list?category_id={{ category.id }}&subcategory_id={{ subcategory.id }}" class="overcolor">{{ subcategory.name }}</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/product?id={{ product.id }}&category_id={{ category.id }}&subcategory_id={{ subcategory.id }}" class="overcolor">{{ product.name }}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container-desc">
            <div class="images">
                <div class="list-image">
                    <img *ngFor="let banner of banners; let i = index" [src]="banner.src">
                </div>
                <div class="p10">
                    <div class="main-image">
                        <app-banner [banners]="banners" [hiddenEffect]="true"></app-banner>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="title">
                    <label>{{product.name}}</label>
                </div>

                <div class="score">
                    <div class="desc-sales">
                        <label>{{ sales }} Vendidos</label>
                    </div>

                    <div class="row prelative">
                        <div class="stars-rating" (click)="rollForTheComments()">
                            <app-star-rating [enable]="false" [starHeight]="'13px'" [rating]="product.score" [name]="'product-rating'"></app-star-rating>
                        </div>
                        <div class="desc-score">
                            <span>{{ product.score }} </span>
                            <span> &#40;{{ product.total_comments }}&#41;</span>
                        </div>

                        <div class="more-option-button" (click)="changeOpenMoreOptions()" [ngClass]="{'more-option-color-active': openMoreOptions}">
                          <img src="assets/images/more-options.png" alt="loading..." width="15px" height="22px" title="Mais Opções">
                        </div>

                        <div [ngClass]="{'hiddenContainerOption': !openMoreOptions, 'showContainerOption': openMoreOptions}" class="container-more-option">
                          <ol>
                            <li class="link" (click)="openContainerLists()">Adicionar item a lista</li>
                          </ol>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <label>{{product.description}}</label>
                </div>

                <div class="quantity">
                    <label>Quantidade: </label>

                    <input type="number" id="inpquant" name="inpquant" value="1" [disabled]="!product.active" (input)="changeQuantity($event)">
                </div>

                <div class="row">
                    <label>Preço: </label>

                    <div class="container-price">
                        <div class="currency"> {{ currency }}</div>
                        <div class="price">{{ product.price }}</div>
                    </div>
                </div>

                <div class="disprow jc-center">
                    <div class="divisior"></div>
                </div>

                <div class="especifications">
                    <div class="title">
                        <label>Especificações (*):</label>
                    </div>

                    <div id="tamroupa" class="especification">
                        <label>Tamanho:</label>

                        <div class="control-buttons" [ngClass]="{'inactive': !product.active}">
                            <div class="control-button" (click)="selectEspecificationSize($event)" *ngFor="let size of specificationSize;" [id]="size.id">
                                <span>{{ size.size }}</span>
                            </div>
                        </div>

                        <div class="alert" [ngClass]="{'alert-active': textSizeErro}">
                            <span>(*) É preciso informar o tamanho para concluir a compra</span>
                        </div>
                    </div>

                    <div id="corroupa" class="especification">
                        <label>Cor:</label>

                        <div class="control-buttons" [ngClass]="{'inactive': !product.active}" #buttcolor>
                            <div class="control-button" (click)="selectEspecificationColor($event)" *ngFor="let color of specificationColor;" [id]="color.id" [class]="color.extclass">
                                <span>{{ color.color }}</span>
                            </div>
                        </div>

                        <div class="alert" [ngClass]="{'alert-active': textColorErro}">
                            <span>(*) É preciso informar uma Cor para concluir a compra</span>
                        </div>
                    </div>
                </div>

                <div class="finish-buttons">
                  <div class="control-button buy-now" [ngClass]="{'inactive': !product.active}" (click)="buyNow()">
                      <span>Comprar agora</span>
                  </div>

                  <div class="control-button" [ngClass]="{'inactive': !product.active}" (click)="addToCart()">
                      <span>Adicionar ao Carrinho</span>
                  </div>

                  <!-- <div class="container-list">
                    <div class="container-resume">
                      <img src="assets/images/include-in-list-icon.png" alt="loading...">
                    </div>
                    <div class="container-complete">Adicionar item na Lista</div>
                  </div> -->
                </div>
            </div>
        </div>

        <div class="disprow jc-center">
            <div class="divisior"></div>
        </div>

        <div #divcomments>
          <app-comments [product_id]="product.id"></app-comments>
        </div>

        <div class="disprow jc-center">
            <div class="divisior"></div>
        </div>

        <div class="container-itens">
            <div class="description">
                <span>Semelhantes:</span>
            </div>

            <div class="container-itenslist">
                <app-mini-card *ngFor="let item of productCardList; let i = index"
                                    [title]="item.title"
                                    [srcImages]="item.src"
                                    [price]="item.price"
                                    [currency]="item.currency"
                                    [extclass]="item.extclass"
                                    [href]="item.href"
                                    [fullinfo]="item.fullinfo"
                                    [score]="item.score"></app-mini-card>
            </div>
        </div>
    </div>

    <div [ngClass]="{'blackout': openContainerList || openContainerCreateList}"></div>

    <div class="container-list" [ngClass]="{'dnone': !openContainerList}">
      <div class="header">
        <div class="close-button" (click)="closeContainerLists()">
          <img src="assets/images/close-icon.png" alt="loading..." width="15px" height="15px">
        </div>
      </div>

      <div class="congratulations" [ngClass]="{'out-of-sight' : !addedInTheList}">
        <div class="container-info" [ngClass]="{'explosive-text' : addedInTheList}">
          <div class="top">
            <div class="icon-ok">
              <img src="assets/images/icon ok purchases.png">
            </div>
            <div class="title">
              <label>Item adicionado com sucesso a sua Lista!</label>
            </div>
          </div>
          <div class="bottom">
            <div class="message">
              <label>Para Acessar sua lista acesse a página da sua conta (em "Acessar Conta") depois clique em "Suas Listas".</label>
            </div>
          </div>
        </div>
      </div>

      <div class="title">
        <label>Selecione a lista que você deseja adicionar o produto</label>
      </div>
      <div class="itenslist">

        <div class="item" (click)="openContainerCreateLists()">
          <div class="container-item">
            <div class="about-item">
              <div class="title">Criar Lista</div>
            </div>
            <div class="view-item">
                <img src="assets/images/plus-icon.png" width="70" height="70">
            </div>
          </div>
        </div>

        <div *ngFor="let item of itens; let i = index" class="item" (click)="createListProduct(item.seqList)">
          <div class="container-item">
            <div class="about-item">
              <div class="title">
                  {{ item.title }}
              </div>
            </div>
            <div class="view-item">
                <img *ngFor="let image of item.images" [src]="image.view" width="70" height="70">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-list" [ngClass]="{'dnone': !openContainerCreateList}">
      <div class="header">
        <div class="close-button" (click)="closeContainerCreateList()">
          <img src="assets/images/close-icon.png" alt="loading..." width="15px" height="15px">
        </div>
      </div>
      <div class="title">
        <label>Digite um nome para a sua nova lista</label>
      </div>
      <div class="container-input">
        <input type="text" id="listname" name="listname" [value]="listName" (input)="changeListName($event)">
      </div>
      <div class="button" (click)="createListUser()">Criar</div>
    </div>
</main>
