:host{
  --padding-add-button: 17px;
  --glitch-width:       0px;
  --speed-glitch:       0s;
  --speed-glitch-hover: 0s;
  --background-add-button: var(--color-primary, #291717);
  --font-size-price:    23px;
}

main {padding: 20px 10px;}

a  {text-decoration: none;}

.container-prod {width: 100%}

.divisior {border: 1px solid var(--color-border, #bdbdbd);  width: 85%; margin-block: 15px;}

.row {display: flex; flex-direction: row; gap: 5px;}
.row-reverse {display: flex; flex-direction: row-reverse; padding-inline: 15px; height: 100%;}

.dnone {display: none !important;}

.path {margin-left: 10px; display: flex; gap: 5px;}
.path ol {flex-wrap: wrap; margin: 0; padding: 0; list-style: none; display: flex; gap: 5px;}
.path li {list-style-type: none;}
.path a {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 12px; margin-right: 5px;}

.path .overcolor:hover {color: #000000; text-decoration: underline}

.container-desc {display: flex; flex-direction: row; width: 100%; gap: 30px; padding: 10px 5px;}

.images {display: flex; flex-direction: row; width: calc(50% - 10px);}
.list-image {width: 65px ; display: flex; flex-direction: column; gap: 15px; max-height: 550px; overflow-x: hidden; overflow-y: auto; border-radius: 15px; padding: 10px 5px; user-select: none;}
.list-image img {height: 65px; cursor: pointer;}

.p10 {padding: 10px;}
.main-image {width: 530px; height: 530px; position: relative; overflow: hidden;}

.product {display: flex; flex-direction: column; width: calc(50% - 30px); gap: 10px;}
.product label {color: var(--color-label, #313131); font-family: "Inter"; font-size: 15px;}

.title label {font-size: 40px; font-weight: 600;}
.title-espec {margin-bottom: 5px;}
.title-espec  label {font-size: 25px; font-weight: 600; margin-bottom: 5px;}

.title-list label {font-size: 22px; font-weight: 600;}

.score        {display: flex; flex-direction: row; justify-content: space-between; margin-right: 30px; gap: 5px;}
.stars-rating {display: flex;}
.invert-star  {transform: rotateY(180deg);}
.desc-score   {font-size: 14px;}
.desc-sales   {font-size: 13px; margin-left: 10px;}

.description {margin-block: 10px;}
.description span{font-family: "Inter", sans-serif; font-size: 20px;}

.especifications {display: flex; flex-direction: column; gap: 10px; margin-bottom: 40px;}
.especifications .title {margin-bottom: 20px;}

.especification  {display: flex;}
.especification .control-button {padding: 3px 6px; font-size: 16px; user-select: none; background: #f1f1f1;}
.selected {border: 1px solid var(--color-primary, #292617) !important; background: #292617 !important; font-weight: 700; color: var(--color-label-inv, #eeeeee) !important;}

.alert {opacity: 0; visibility: hidden; transition: opacity 0.3s;}
.alert span {color: #b60000; font-size: 12px;}
.alert-active {opacity: 1; visibility: visible;}

.inactive {opacity: 0.3; background: transparent !important;}
.active   {background: #e9e9e9;}

#listname {width: 100%;
           padding: 4px;
           border: 0px;
           border-bottom: 1px solid #000;
           font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
           font-weight: 180;
           font-size: var(--font-size-label, 15px);
           color: #000;
           background-color: #0000000d;
           transition: .2s;}

.quantity {display: flex; flex-direction: row; align-items: center; gap: 10px; height: 50px;}

.quantity-desc {min-width: 22px; text-align: center;}
.quantity-desc label {font-size: 17px;}

.quantity .glitch {
  animation: glitch var(--speed-glitch, 1.4s) cubic-bezier(0.25, 0.25, 0.25, 0.25) both infinite;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.quantity .glitch:hover {
  animation: glitch calc(var(--speed-glitch, 1.4s) - var(--speed-glitch-hover, 1.4s)) cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(calc(-1 * var(--glitch-width, 4px)), var(--glitch-width, 4px));
  }
  40% {
    transform: translate(calc(-1 * var(--glitch-width, 4px)), calc(-1 * var(--glitch-width, 4px)));
  }
  60% {
    transform: translate(var(--glitch-width, 4px), var(--glitch-width, 4px));
  }
  80% {
    transform: translate(var(--glitch-width, 4px), calc(-1 * var(--glitch-width, 4px)));
  }
  100% {
    transform: translate(0);
  }
}


#container-toDecrease, #container-add {background-color: var(--color-primary, #292617);
                                       padding: 17px;
                                       border-radius: 100%;
                                       position: relative;
                                       cursor: pointer;
                                       transition: all 1.5s;}

#container-add {
  background-color: var(--background-add-button, var(--color-primary, #292617));
  padding: var(--padding-add-button, 17px);
}

#toDecrease::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 5%;
  background-color: var(--color-label-inv, #eaeaea);
}

#add::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 5%;
  background-color: var(--color-label-inv, #eaeaea);
}

#add::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 50%;
  background-color: var(--color-label-inv, #eaeaea);
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container-price {display: flex; flex-direction: row; margin-left: 10px; margin-top: 10px; position: relative;}
.price, .currency {font-family: monospace, Arial, sans-serif; font-size: var(--font-size-price, 23px); z-index: 10;}
.currency {font-size: 14px;}

.discount {
  color: #313131;
  position: absolute;
  top: -100%;
  opacity: 0.6;
  transform: rotate(21deg);
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.discount::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffcc00;
  border-radius: 2px;
  margin: 0 auto;
  transform: translateY(-12px);
}

.float-right {float: right;}
.float-left  {float: left;}

#b-add-list {max-width: 30px;}

.finish-buttons  {display: flex; align-items: center; gap: 10px; flex-direction: row-reverse;  user-select: none; position: relative;}
.control-buttons {display: grid; align-items: start; gap: 10px; margin-inline: 20px; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
.control-button  {border: 1px solid var(--color-border, #bdbdbd); color: var(--color-label, #313131); border-radius: 20px; padding: 10px 15px; cursor: pointer; transition: 0.2s ease-out; font-size: 21px; display: flex; justify-content: center;}

.control-button:hover {border: 1px solid var(--color-primary, #292617);}
.buy-now {background: var(--color-primary, #292617); color: var(--color-label-inv, #eaeaea) !important;}

.finish-buttons-reto {display: flex; align-items: center; flex-direction: row-reverse;  user-select: none; position: relative;}
.control-button-reto {border: 1px solid var(--color-border, #bdbdbd);
                      color: var(--color-label, #313131);
                      padding: 10px 15px;
                      transition: all 0.3s ease;
                      cursor: pointer;
                      font-size: 21px;
                      display: flex; justify-content: center;}

/* .control-button-reto:hover {box-shadow: 0px 0px 5px var(--color-primary, #292617);} */

.liquid {
  background: linear-gradient(var(--color-primary, #292617) 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s), background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

.br-0 {border-bottom-left-radius: 7px; border-top-left-radius: 7px;}
.bl-0 {border-bottom-right-radius: 7px; border-top-right-radius: 7px;}

.container-itens {padding: 30px 10px; gap: 23px; display: flex; flex-direction: column;}
.container-itenslist {display: flex; flex-wrap: wrap; gap: 10px;}

.more-option-button       {margin-left: 15px; user-select: none; cursor: pointer; padding: 2px 3px; border-radius: 7px; display: flex; justify-content: center;}
.more-option-button:hover {background-color: #d3d3d3;}
.more-option-color-active {background-color: #d3d3d3;}

.hiddenContainerOption {max-height: 0;}
.showContainerOption   {max-height: 600px;}

.container-more-option    {position: absolute;
                           background-color: #b6b6b6;
                           border-radius: 10px;
                           right: 0; top: 100%;
                           overflow: hidden;
                           transition: 0.3s max-height;}

.container-more-option ol {max-height: 550px;
                           overflow-y: auto;
                           padding: 0;
                           margin-block: 3px;}

.container-more-option li {list-style-type: none; cursor: pointer; padding: 4px 5px; margin-bottom: 5px;}
.container-more-option li:hover {background-color: #afafaf;}
.container-more-option .link {display: inline-block; color: var(--color-label, #313131); font-family: "Inter"; font-size: 13px;}


.blackout {background-color: #0000002d;
           position: fixed; top: 0; left: 0;
           width: 100%; height: 100%;
           z-index: 201;}

.container-list {width: 75%; height: 65%;
                 border-radius: 10px;
                 display: flex; align-items: center; flex-direction: column;
                 position: fixed;
                 top: 50%; left: 50%;
                 transform: translate(-50%, -50%);
                 padding: 20px;
                 background-color: #FFF;
                 z-index: 202;
                 overflow-y: auto;
                 overflow-x: hidden;}

.container-list .itenslist {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; gap: 10px;}

.container-list .header {display: flex; flex-direction: row-reverse; width: 100%;}
.container-list .header .close-button {border-radius: 5px; border: 1px solid #0000002c; padding: 4px; display: flex; cursor: pointer; z-index: 202}

.container-list .title-list {color: var(--color-label, #313131); font-family: "Inter";}

.container-list .container-input {margin-top: 50px;}

.container-list .button {
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: #292617;
  color: white;
  border-radius: 4px;
}

.container-list .button:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, #292617 0%, #96894a 100%);
}

.container-list .button:active {
 transform: translate(0em, 0.2em);
}

.itenslist .item {
  display: flex; flex-direction: column;
  border: 1px solid #e0e0e0; border-radius: 10px;
  margin-block: 10px 30px;
  position: relative;
  background-color: #FFF;
  cursor: pointer;
  height: 200px; width: 200px;
}

.itenslist .container-item { display: flex; flex-direction: column; }

.itenslist .container-item .view-item     {display: grid; grid-template-columns: 1fr 1fr; justify-items: center;}
.itenslist .container-item .view-item img {user-select: none;}
.itenslist .container-item .about-item    {margin-left: 3px; width: 100%; padding: 10px;}
.itenslist .container-item .title-list    {display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-size: 14px; font-family: system-ui, Helvetica, Arial, sans-serif;}

.out-of-sight {top: -200%; position: absolute !important;}

.congratulations {display: flex; align-items: center; justify-content: center;
                  width: 100%;
                  position: relative;}

.congratulations .container-info  {width: 80%; display: flex; flex-direction: column; background-color: #FFF; margin-bottom: 20px; border-radius: 10px; padding: 5px 10px;}
.congratulations .container-info .top, .container-info .bottom    {display: flex; flex-direction: row; gap: 10px;}
.congratulations .container-info .top {align-items: center;}
.congratulations .container-info .bottom {position: relative;}

.congratulations .container-info .top .title-list, .container-info .bottom .message {font-family: 'Inter', sans-serif;}
.congratulations .container-info .top .title-list {font-weight: 600;}

.congratulations .container-info .bottom .message {font-size: 13px; margin-left: 50px}

.congratulations .icon-ok img {width: 35px; height: 35px;}
.congratulations .itens-images img {width: 60px; height: 70px; position: absolute;}

.explosive-text {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-out;
}

.explosive-text {
    transform: scale(1.1);
}

.explosive-text::before,
.explosive-text::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: burst 0.8s ease-out forwards;
}

.explosive-text::before {
    background: radial-gradient(circle, rgba(86, 255, 64, 0.6), transparent);
    z-index: -1;
}

.explosive-text::after {
    background: radial-gradient(circle, rgba(57, 187, 52, 0.6), transparent);
    z-index: -2;
}

@keyframes burst {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

#effect-discount-1, #effect-discount-2, #effect-discount-3, #effect-discount-4 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }


.loader {
	display: block;
	position: relative;
	color: #ffcc00;
}

.loader::before,
.loader::after {
	content: '';
	position: absolute;
}

.loader--1 {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: currentColor;
	box-shadow: 0 0 calc(10vmin / 6) rgba(255, 255, 255, 0.3);
  animation: loader-1 calc(0.6s * 6) linear infinite;
}

.loader--1::before,
.loader--1::after {
	width: 5px;
	aspect-ratio: 1 / 1;
	background: currentColor;
	border-radius: 50%;
  animation: loader-1-1 0.6s cubic-bezier(0.27, 0.08, 0.26, 0.7) infinite;
}

.loader--1::before {
	--x-dist: 0;
	--y-dist: calc(calc(10vmin / 6) / 2);
	bottom: calc(100% + calc(10vmin / 6));
	left: calc(50% - calc(5px / 2));
	transform-origin: center calc(10vmin / 6);
}

.loader--1::after {
	--x-dist: calc(calc(10vmin / 6) / 2);
	--y-dist: 0;
	top: calc(50% - calc(5px / 2));
	right: calc(100% + calc(10vmin / 6));
	transform-origin: calc(10vmin / 6) center;
	animation-delay: calc(0.6s / 2 * -1);
}

@keyframes loader-1 {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes loader-1-1 {
	0%, 100% {
		opacity: 0;
	}

  66% {
		opacity: 0.5;
	}

	33% {
		opacity: 0.7;
	}

	0% {
		transform: scale(1.1);
	}

	88% {
		transform: rotate(180deg) translate(var(--x-dist), var(--y-dist));
	}
}
