<main>
    <div class="container-prod">
        <div>
            <div class="path">
                <ol>
                    <li>
                        <a href="#" class="overcolor">Página Inicial</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/products-list?category_id={{ category.id }}" class="overcolor">{{ category.name }}</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/products-list?category_id={{ category.id }}&subcategory_id={{ subcategory.id }}" class="overcolor">{{ subcategory.name }}</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/product?id={{ product.id }}&category_id={{ category.id }}&subcategory_id={{ subcategory.id }}" class="overcolor">{{ product.name }}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="container-desc">
            <div class="images">
                <div class="list-image">
                    <img *ngFor="let banner of banners; let i = index" [src]="banner.src">
                </div>
                <div class="p10">
                    <div class="main-image">
                        <app-banner [banners]="banners" [hiddenEffect]="true"></app-banner>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="title">
                    <label>{{product.name}}</label>
                </div>

                <div class="score">
                    <div class="desc-sales">
                        <label>{{ sales }} Vendidos</label>
                    </div>

                    <div class="row">
                        <div class="stars-rating">
                            <app-star-rating [enable]="false" [starHeight]="'13px'" [rating]="product.score" [name]="'product-rating'"></app-star-rating>
                        </div>
                        <div class="desc-score">
                            <span>{{ product.score }} </span>
                            <span> &#40;{{ product.total_comments }}&#41;</span>
                        </div>
                    </div>
                </div>

                <div class="description">
                    <label>{{product.description}}</label>
                </div>

                <div class="quantity">
                    <label>Quantidade: </label>

                    <input type="number" id="inpquant" name="inpquant" value="1" [disabled]="!product.active">
                </div>

                <div class="row">
                    <label>Preço: </label>

                    <div class="container-price">
                        <div class="currency"> {{ currency }}</div>
                        <div class="price">{{ product.price }}</div>
                    </div>
                </div>

                <div class="disprow jc-center">
                    <div class="divisior"></div>
                </div>

                <div class="especifications">
                    <div class="title">
                        <label>Especificações (*):</label>
                    </div>

                    <div id="tamroupa" class="especification">
                        <label>Tamanho:</label>

                        <div class="control-buttons" [ngClass]="{'inactive': !product.active}">
                            <div class="control-button" (click)="selectEspecificationSize($event)" *ngFor="let size of specificationSize;" [id]="size.id">
                                <span>{{ size.size }}</span>
                            </div>
                        </div>

                        <div class="alert">
                            <span>(*) É preciso informar o tamanho para concluir a compra</span>
                        </div>
                    </div>

                    <div id="corroupa" class="especification">
                        <label>Cor:</label>

                        <div class="control-buttons" [ngClass]="{'inactive': !product.active}" #buttcolor>
                            <div class="control-button" (click)="selectEspecificationColor($event)" *ngFor="let color of specificationColor;" [id]="color.id" [class]="color.extclass">
                                <span>{{ color.color }}</span>
                            </div>
                        </div>

                        <div class="alert">
                            <span>(*) É preciso informar o tamanho para concluir a compra</span>
                        </div>
                    </div>
                </div>

                <div class="finish-buttons">
                    <div class="control-button buy-now" [ngClass]="{'inactive': !product.active}">
                        <span>Comprar agora</span>
                    </div>

                    <div class="control-button" [ngClass]="{'inactive': !product.active}">
                        <span>Adicionar ao Carrinho</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="disprow jc-center">
            <div class="divisior"></div>
        </div>

        <div>
          <app-comments [product_id]="product.id"></app-comments>
        </div>

        <div class="disprow jc-center">
            <div class="divisior"></div>
        </div>

        <div class="container-itens">
            <div class="description">
                <span>Semelhantes:</span>
            </div>

            <div class="container-itenslist">
                <app-mini-card *ngFor="let item of productCardList; let i = index"
                                    [title]="item.title"
                                    [srcImages]="item.src"
                                    [price]="item.price"
                                    [currency]="item.currency"
                                    [extclass]="item.extclass"
                                    [href]="item.href"
                                    [fullinfo]="item.fullinfo"
                                    [score]="item.score"></app-mini-card>
            </div>
        </div>
    </div>
</main>
