<div class="end-page">
    <div class="nav-endpage">
        <div class="pe-up">                
            <div class="nav-ref">
                <div class="explore-about">
                    <h6 class="title-about">Nossa empresa</h6>
                    <a href=""><span class="label-about">Acesse nosso site e conheça nossos produtos!</span></a>
                    <a href=""><span class="label-about">Sobre nós</span></a>
                    <a href=""><span class="label-about">Parcerias e contato</span></a>
                </div>

                <div class="explore-about">
                    <h6 class="title-about">Atendimento</h6>
                    <span class="label-about">Segunda a sexta-feira, das 8h às 18h</span>
                </div>

                <div class="explore-about">
                    <h6 class="title-about">Informações</h6>
                    <a href=""><span class="label-about">Politica de devolução</span></a>
                    <a href=""><span class="label-about">Periodo de entrega</span></a>
                    <a href=""><span class="label-about">Periodo de pagamento</span></a>
                    <a href=""><span class="label-about">Ajuda</span></a>
                </div>
            </div>

            <div class="link-email">
                <div class="title-link-email">
                    <h6   class="title-about">Receba novidades e promoções</h6>
                    <span class="label-about">Cadastre seu e-mail e receba nossas novidades e promoções!</span>
                </div>
                <div class="input_email">
                    <div class="form__group field">
                        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                        <label for="name" class="form__label">Email</label>
                        <div class="send-email">
                            <img src="assets/images/arrow-confirm-icon.png" alt="carregando">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pe-down">
            <div class="nav-redes">
                <div class="social-media">
                    <span>Redes Sociais: </span>
                    <div class="exp-redes">
                        <a href="https://www.instagram.com/lucas.leoca/" target="_blank"><div class="icon-circle"><img src="assets/images/icon_instagram.png" alt="Carregando"></div></a>
                        <a href="https://www.instagram.com/lucas.leoca/" target="_blank"><div class="icon-circle"><img src="assets/images/icon_facebook.png"  alt="Carregando"></div></a>
                        <a href="https://www.instagram.com/lucas.leoca/" target="_blank"><div class="icon-circle"><img src="assets/images/icon_linkedin1.png" alt="Carregando"></div></a>
                    </div>
                </div>
            </div>
        </div>            
    </div>

    <div class="nav-rodape">            
        <div class="rodape">
            <span class="label-about">Todos os direitos reservados</span>
            <span class="label-about">Av. Nogueira Beltrao, 26, Paranacity, Paraná, Brasil</span>
        </div>
        <div class="rodape" style="margin-bottom: 10px;">
            <span class="label-about">Pagamentos aceitos em:  cartões de crédito (Visa, MasterCard, Elo e American Express), cartões de débito (Visa e Elo), Boleto e Pix.</span>
        </div>
    </div>
</div>