.icon-circle {width: 30px; height: 30px; border-radius: 13px; margin-inline: 10px; background-color: #F0ECE5; display: flex; justify-content: center; align-items: center;}

.end-page {background-color: #bbaa84; height: 280px; margin-top: 60px;}
.nav-endpage {border-bottom: 1px solid #3a4553; height: 70%;}

.nav-ref {display: flex; justify-content: flex-start; width: 65%;}
.nav-ref a {text-decoration: none;}

.pe-up   {gap: 20px; display: flex; height: 70%;}
.pe-down {display: flex; flex-direction: column; height: 30%; margin-left: 40px;}

.explore-about {display: flex; flex-direction: column; margin: 40px; margin-top: 7px;}
.title-about {font-family: 'Playfair Display', serif; color: #313131; font-size: 18px; margin-bottom:1px; margin-top:5px;}
.label-about {font-family: 'Playfair Display', serif; color: #313131; font-size: 13px; margin-bottom:1px; margin-top:5px;}

.link-email {width: 35%; display: flex; flex-direction: column; justify-content: center}
.title-link-email {display: flex; flex-direction: column; justify-content: center;}

.exp-redes {display: flex; flex-direction: row;}

.input-email {margin-top: 7px;}

.filed {position: relative;}

.send-email {width: 30px; height: 30px; position: absolute; right: 0; transform: translate(100%, -110%);}
.send-email img{width: 20px; height: 20px; margin-top: 5px; margin-left: 5px; cursor: pointer;}

.input_email{
    .form__group {
    position: relative;
    padding: 10px 0 0;
    width: 70%;
    }

    .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #313131;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    }

    .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #313131;
    }

    .form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color:  #cec8ba;
        font-weight:500;    
    }
    padding-bottom: 6px;  
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right,  rgb(206, 200, 186),rgb(219, 179, 111));
    border-image-slice: 1;
    }
    /* reset input */
    .form__field{
    &:required,&:invalid { box-shadow:none; }
    }
}

.nav-redes {display: flex; flex-direction: row; align-items: center;}

.social-media {font-size: 18px; display: flex; flex-direction: row; align-items: center; font-family: 'Playfair Display', serif; color: #313131;}
.social-media img {width: 80%; height: 80%;}

.nav-rodape {display: flex; flex-direction: row; height: 30%;}

.rodape {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%;}