.container-principal {display: flex; flex-direction: column;  z-index: 10; transition: 0.2s; }

.container-principal:hover .mov-button {
    visibility: visible;
    opacity: 1;
}

.container-banners {height: 100%; width: 100%;  overflow: hidden;  display: flex;}
.container-banners img {transition: opacity 0.5s; user-select: none;}

.mov-button {border: 1px solid #44444440;
             backdrop-filter: blur(6px);
             border-radius: 20px;
             padding: 3px;
             position: absolute;
             top: 50%;
             transform: translateY(-50%);
             transition: 0.2s;
             z-index: 10;
             width: 25px;
             height: 30px;
             cursor: pointer;
             background-color: #fafafa87;
             display: flex;
             justify-content:center;
             align-items: center;
             visibility: hidden;
             opacity: 0;}

.mov-button img {width: 14px; height: 23px; user-select: none;}

.mov-button:hover {width: 27px; height: 42px;}
.mov-button:hover img {width: 16px; height: 25px;}

.prev-button {left: 10px;}
.next-button {right: 10px;}
