<div class="container-principal">
    <div class="prev-button mov-button" style="top: 40%;" (click)="prevButtonClick()">
        <img src="assets/icons/arrow-left.png" alt="Carregando">
    </div>

    <div class="container-banners" #containerBanners>
        <img *ngFor="let banner of banners; let i = index" [src]="banner.src" [style.height]="banner.height" [style.width]="banner.width" [ngClass]="{'carr-on show-effecty': i === 0, 'carr-off hidden-effecty': i !== 0}">
    </div>

    <div class="next-button mov-button" style="top: 40%;" (click)="nextButtonClick()">
        <img src="assets/icons/arrow-right.png" alt="Carregando">
    </div>
</div>
