<main>
    <div class="container-prod">
        <div>
            <div class="path">
                <ol>
                    <li>
                        <a href="#" class="overcolor">Página Inicial</a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="/insert" class="overcolor">Cadastro de produtos</a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="container-desc">
            <div class="images">
                <input type="file" #fileinput id="fileinput" (change)="onFileSelected($event)" accept="image/*" multiple style="display: none;">
                <div class="submit-buttons">
                    <div class="submit-button buy-now" (click)="adapterRegisterTempImageProduct()">
                        <span>Add. imagem</span>
                    </div>

                    <div class="alert-submit">
                        <span>* As imagens são expostas na proporção 495x600px</span>
                    </div>
                </div>

                <div class="disprow">
                  <div class="list-image">
                      <img *ngFor="let productbanner of imageTempProducts; let i = index" [src]="productbanner.src">
                  </div>
                  <div class="container-img">
                      <div class="main-image">
                          <app-banner [banners]="imageTempProducts" [hiddenEffect]="true"></app-banner>
                      </div>
                  </div>
                </div>
            </div>

            <div class="product">
                <div class="input-sett" [style.display]="isChanging? 'block':'none'">
                  <label class="label">Código do produto:</label>
                  <input autocomplete="off" class="input" type="text" [(ngModel)]="productId" disabled>
                </div>

                <div class="input-sett">
                  <label class="label">Nome do Produto:</label>
                  <input autocomplete="off" class="input" type="text" maxlength="40" [(ngModel)]="productName">
                </div>

                <div class="input-sett">
                  <label class="label">Descrição:</label>
                  <textarea autocomplete="off" class="textarea" maxlength="500" [(ngModel)]="productDescription"></textarea>
                </div>

                <div class="input-sett">
                  <label class="label">Quantidade:</label>
                  <input autocomplete="off" class="input" type="number" title="Quantidade disponível em estoque do produto citado." [(ngModel)]="productStorage">
                </div>

                <div class="input-sett">
                  <label class="label">Preço:</label>
                  <input autocomplete="off" class="input" type="number" [(ngModel)]="productPrice">
                </div>

                <div class="disprow jc-center">
                    <div class="divisior"></div>
                </div>

                <div class="categories">
                    <div class="title">
                        <label>Categoria (*):</label>
                    </div>

                    <div class="category">
                      <select class="select" [(ngModel)]="selectCategory" (ngModelChange)="selectCategories($event)">
                        <option value="0">Selecione uma categoria</option>
                        <option *ngFor="let option of optionsCategories" [value]="option.id">{{ option.name }}</option>
                      </select>

                      <div class="alert" [ngClass]="{'alert-active': selectCategory == '0'}">
                          <span>(*) É preciso informar a categoria do produto para concluir o Cadastro</span>
                      </div>
                    </div>

                </div>

                <div class="subcategories" [ngClass]="{'dnone': selectCategory == '0'}">
                    <div class="title">
                        <label>Subcategoria (*):</label>
                    </div>

                    <div class="subcategory">
                      <select class="select" (change)="selectSubCategories($event)">
                        <option value="0">Selecione uma subcategoria</option>
                        <option *ngFor="let option of optionsSubCategories" [value]="option.id.seq">{{ option.name }}</option>
                      </select>

                      <div class="alert" [ngClass]="{'alert-active': selectSubCategory == '0'}">
                          <span>(*) É preciso informar a subcategoria do produto para concluir o Cadastro</span>
                      </div>
                    </div>
                </div>

                <div class="disprow jc-center">
                    <div class="divisior"></div>
                </div>

                <div class="especifications">
                    <div class="title">
                        <label>Especificações (*):</label>
                    </div>

                    <div class="especification" [ngClass]="{'dnone': !hasSpecificationSize}">
                        <label>Tamanho:</label>

                        <div #divSpecificationSize class="control-buttons">
                            <div class="control-button" [id]="'specsize#' + specsize.id" (click)="selectSpecificationSize($event)" *ngFor="let specsize of specificationSize">
                                <span>{{specsize.size}}</span>
                            </div>
                        </div>

                        <div class="alert">
                            <span>(*) É preciso informar o tamanho para concluir o Cadastro</span>
                        </div>
                    </div>

                    <div class="especification">
                        <label>Cor:</label>

                        <div #divSpecificationColors class="control-buttons">
                            <div class="control-button" [id]="'speccolor#' + speccolor.id" (click)="selectSpecification($event)" *ngFor="let speccolor of specificationColor">
                                <span>{{speccolor.color}}</span>
                            </div>
                        </div>

                        <div class="alert">
                            <span>(*) É preciso informar o tamanho para concluir a compra</span>
                        </div>
                    </div>
                </div>

                <div class="submit-buttons">
                    <div class="submit-button buy-now" (click)="registerProduct()">
                        <span>Cadastrar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
