main {padding: 20px 10px;}

a  {text-decoration: none;}

.dnone {display: none !important;}

.container-prod {width: 100%}

.divisior {border: 1px solid var(--color-border, #bdbdbd);  width: 85%; margin-block: 15px;}

.row {display: flex; flex-direction: row; gap: 5px;}

.path {margin-left: 10px; display: flex; gap: 5px;}
.path ol {flex-wrap: wrap; margin: 0; padding: 0; list-style: none; display: flex; gap: 5px;}
.path li {list-style-type: none;}
.path a {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 12px; margin-right: 5px;}

.path .overcolor:hover {color: #000000; text-decoration: underline}

.container-desc {display: flex; flex-direction: row; width: 100%; gap: 30px; padding: 15px 5px;}

.images {display: flex; flex-direction: column; width: calc(50% - 10px); gap: 15px; margin-top: 10px;}
.list-image {width: 85px ; display: flex; flex-direction: column; gap: 15px; max-height: 550px; min-height: 300px; overflow-x: hidden; overflow-y: auto; border-radius: 15px; border: 1px solid var(--color-border, #bdbdbd); padding: 10px 5px;}
.list-image img {height: 78px; width: 78px; cursor: pointer;}

.container-img {padding: 10px; background: #f1f1f1; border-radius: 10px; margin-left: 10px;}
.main-image {width: 477px; position: relative; overflow: hidden;}

.product {display: flex; flex-direction: column; width: calc(50% - 30px); gap: 10px;}
.product label {color: var(--color-label, #313131); font-family: "Inter"; font-size: 15px;}

.title label {font-size: 22px; font-weight: 600;}

.description {margin-block: 10px;}
.description span{font-family: "Inter", sans-serif; font-size: 20px;}

.especifications {display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px;}
.especifications .title {margin-bottom: 20px;}

.especification  {display: flex; margin-bottom: 10px;}
.especification .control-button {padding: 3px 6px; font-size: 16px;}
.selected {border: 1px solid var(--color-primary, #292617) !important; background: var(--tertiary-background, #eeeeee); font-weight: 700;}

.alert {opacity: 0; visibility: hidden; transition: opacity 0.3s;}
.alert span {color: #b60000; font-size: 12px;}
.alert-active {opacity: 1; visibility: visible;}

#inpquant {width: 70px;}

.container-price {display: flex; flex-direction: row; margin-left: 10px; margin-top: 10px;}
.price, .currency {font-family: monospace, Arial, sans-serif; font-size: 23px;}

.control-buttons {display: grid; align-items: start; gap: 10px; margin-inline: 20px; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
.control-button  {border: 1px solid var(--color-border, #bdbdbd); color: var(--color-label, #313131); border-radius: 20px; padding: 10px 15px; cursor: pointer; transition: 0.2s ease-out; font-size: 21px; display: flex; justify-content: center;}
.control-button:hover {border: 1px solid var(--color-primary, #292617);}

.submit-buttons      {display: flex; flex-direction: row-reverse; align-items: start; margin-inline: 50px;}
.submit-button       {border: 1px solid var(--color-border, #bdbdbd); color: var(--color-label, #313131); border-radius: 20px; padding: 10px 15px; cursor: pointer; transition: 0.2s ease-out; font-size: 21px; display: flex; justify-content: center;}
.submit-button:hover {border: 1px solid var(--color-primary, #292617);}
.buy-now {background: var(--color-primary, #292617); color: var(--color-label-inv, #eaeaea);}

.container-itens {padding: 30px 10px; gap: 23px; display: flex; flex-direction: column;}
.container-itenslist {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; gap: 10px;}

.category, .subcategory{margin: 10px 6px;}

.input {
    width:              300px;
    height:             35px;
    background-color: #05060f12;
    border-radius:      .5rem;
    padding:            0 10px;
    border:             2px solid transparent;
    font-size:          1rem;
    transition:         border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.textarea {
    width:              400px;
    height:             185px;
    background-color: #05060f12;
    border-radius:      .5rem;
    padding:            0 10px;
    border:             2px solid transparent;
    font-size:          1rem;
    transition:         border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
    resize:             none;
    padding:            5px 10px;
}


.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-family: "Inter";
  font-weight: bold;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .textarea:hover, .input:focus, .input-sett:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-sett:hover .label, .input:focus, .textarea:focus {
  color: #05060fc2;
}

.select {height:         35px;
         width:          300px;
         border-color: #000000a1;
         border-radius:  6px;
         font-size:      1rem;
         background:   #05060f12;
         box-shadow:     0 0 0 .1vw rgba(160, 177, 184, 0.186)}

.select:disabled {border-color: rgba(118, 118, 118, 0.3); color: #6b6b6b; background-color: #a1a1a170;}

.select:not(:-internal-list-box) {color:#444; background-color: #a3ada22b;}
