/* From Uiverse.io by Pradeepsaranbishnoi */
:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.container-radio div {
   display: flex;
   flex-wrap: wrap;
   margin-top: 1.5rem;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.container-radio input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container-radio input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 4px 7px;
  position: relative;
  margin-left: .1625em;
  box-shadow: 0 0 0 0.0625em #ffffff;
  letter-spacing: .05em;
  text-align: center;
  transition: background-color .5s ease;
}
