.h45  {height: 45%;}
.h100 {height: 100%;}
.w100 {width: 100%;}

.item-quadro{overflow: hidden; height: 250px;}

.a-link-normal {cursor: pointer; text-decoration: none; color: var(--color-label, #313131);}

.image-card { display: flex; flex-direction: column; justify-content: center; width: 100%;  height: 67%; align-items: center;}
.image-card img {object-fit: contain; display: block; width: 100%; height: 100%; user-select: none;}

.desc-prod-card { display: flex; flex-direction: column; justify-content: center; width: 100%; height: calc(30% - 20px); padding: 10px 0px;}

.over-card {transition: 0.2s ease;}
.over-card:hover {background: var(--secondary-background, #f1f1f1);}

.div-price {width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; font-family: 'Playfair Display', serif; color: var(--color-label, #313131); font-weight: 600; font-size: 10px;}
.s-price {font-family: Arial, Helvetica; color: var(--color-label, #313131); font-size: 17px;}
.s-desc-prod {display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-family: 'Playfair Display', serif; color: var(--color-label, #313131); font-size: 15px;}

.div-score    {display: flex; flex-direction: row;}
.stars-rating {display: flex; width: 70%;}
.invert-star  {transform: rotateY(180deg);}
.desc-score   {width: 30%; font-size: 12px;}
