.h45  {height: 45%;}
.h100 {height: 100%;}
.w100 {width: 100%;}

.item-quadro{overflow: hidden;}
.item-quadro img {object-fit: contain; display: block; width: 100%; height: 100%;}

.a-link-normal {cursor: pointer;}

.image-card { display: flex; flex-direction: column; justify-content: center; width: 100%;  height: 70%; align-items: center;}

.desc-prod-card { display: flex; flex-direction: column; justify-content: center; width: 100%; height: 30%;}

.div-price {width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; font-family: 'Playfair Display', serif; color: #313131; font-weight: 600; font-size: 10px;}
.s-price {font-family: Arial, Helvetica; color: #313131; font-size: 17px;}
.s-desc-prod {display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-family: 'Playfair Display', serif; color: #313131; font-size: 12px;}