<div class="item-quadro" [class]="extclass" [ngClass]="{'over-card': fullinfo}">
    <a [href]="href" class="a-link-normal">
        <div class="image-card">
            <img [src]="srcImages" alt="Carregando" width="95px" height="100%">
        </div>
        <div class="desc-prod-card">
            <div class="w100 h100">
                <div class="w100">
                    <span id="id3-produto2-desc" name="id3-produto2-desc" class="s-desc-prod">{{ title }}</span>
                </div>
                <div class="div-score" *ngIf="fullinfo">
                  <div class="stars-rating">
                    <app-star-rating [enable]="false" [starHeight]="'13px'" [rating]="score" [name]="'rate-' + title + '_' + price"></app-star-rating>
                  </div>
                  <div class="desc-score">
                      <span>{{ score }}</span>
                  </div>
                </div>
                <div class="div-price">
                    <span>{{ currency }}</span>&nbsp;&nbsp;
                    <span id="id3-produto2-desc" name="id3-produto2-vlr" class="s-price">{{ price }}</span>
                </div>
            </div>
        </div>
    </a>
</div>
