header {height: 90px;}

.w-70 {width: 70%;}

.upHeaderNav   {height: 70%; background: #0088ff; display: flex; padding-inline: 35px;}
.downHeaderNav {height: 30%; background: #6e9b6c; display: flex; padding-inline: 15px;}

#navupheader1 {background: #09ff00; width: 10%; height: 100%;}
#navupheader2 {background: #c8ff00; width: 15%; height: 100%;}
#navupheader3 {background: #e100ff; width: 15%; height: 100%;}
#navupheader4 {background: #ff0000; width: 50%; height: 100%;}

#navdownheader1 {background: #8bda88; width: 20%; height: 100%;}
#navdownheader2 {background: #bcc794; width: 20%; height: 100%;}
#navdownheader3 {background: #be8bc5; width: 20%; height: 100%;}
#navdownheader4 {background: #c59191; width: 20%; height: 100%;}
#navdownheader5 {background: #9196c5; width: 20%; height: 100%;}