<header style="height: 90px;">
    <div class="upHeaderNav">
        <div id="navupheader1" class="disprow jc-center ai-c">
            <p>Logo</p>
        </div>
        <div id="navupheader2" class="disprow jc-center ai-c">
            <a href="#" class="link-efect">
                <div class="button-header">
                    <p class="text-effect">Acessar Conta</p>
                </div>
            </a>
        </div>
        <div id="navupheader3" class="dispcol jc-center ai-c">
            <a href="#" class="link-efect">
                <div class="button-header">
                    <p class="text-effect">Descontos</p>
                </div>
            </a>
        </div>
        <div id="navupheader4" class="disprow search-class jc-center ai-c">
            <form class="form">
                <input class="input" placeholder="Type your text" required="" type="text">
                <a href="#" class="link-efect">
                    <div class="button-search">
                        <img src="assets/images/search-icon.png" width="17" height="16">
                    </div>
                </a>
            </form>
        </div>
    </div>
    <div class="downHeaderNav">
        <div class="w-70 disprow">
            <div id="navdownheader1" class="disprow jc-center ai-c">
                <a href="#" class="link-efect">
                    <div class="button-header">
                        <p class="text-effect">Recomendados</p>
                    </div>
                </a>
            </div>
            <div id="navdownheader2" class="disprow jc-center ai-c">
                <a href="#" class="link-efect">
                    <div class="button-header">
                        <p class="text-effect">Novidades</p>
                    </div>
                </a>
            </div>
            <div id="navdownheader3" class="disprow jc-center ai-c">
                <a href="#" class="link-efect">
                    <div class="button-header">
                        <p class="text-effect">A partir de 7,99</p>
                    </div>
                </a>
            </div>
            <div id="navdownheader5" class="disprow jc-center ai-c">
                <a href="#" class="link-efect">
                    <div class="button-header">
                        <p class="text-effect">Mais vendidos</p>
                    </div>
                </a>
            </div>
            <div id="navdownheader4" class="dispcol jc-center ai-c">
                <a href="#" class="link-efect">
                    <div class="button-header">
                        <p class="text-effect">Atendimento</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>