<header>   
    <div class="HeaderNav">
        <div id="navheader1" class="disprow jc-center ai-c">
            <div class="logo">
                <img src="assets/images/logo-icon.png" width="60" height="60">
            </div>
        </div>
        
        <div id="navheader2" class="disprow jc-center ai-c">
            <div class="container-button">
                <div class="button-descrition">
                    <a href="#" class="link-efect">
                        <p>Acessar Conta</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="navheader3" class="disprow jc-center ai-c">
            <div class="container-button">
                <div class="button-descrition">
                    <a href="#" class="link-efect">
                        <img src="assets/images/sale-icon.png" width="17" height="16">
                        <p>Descontos</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="navheader4" class="disprow jc-center ai-c">
            <div id="navcateg" class="container-button button-descrition" (mouseenter)="showOverlay()">
                <div>
                    <a href="#" class="link-efect">
                        <p>Categorias</p>&nbsp;
                        <img src="assets/images/arrow-down.png" width="7" height="7">
                    </a>
                </div>

                 <div class="header-categories" [class.show]="isCategoriesVisible" (mouseleave)="hideOverlay()">
                    <app-header-categories [categories]="categories"></app-header-categories>
                </div>
            </div>
            <div class="overlay" [class.show]="isCategoriesVisible" (click)="hideOverlay()"></div>
        </div>

        <div id="navheader5" class="disprow jc-center ai-c">
            <div class="container-button">
                <div class="button-descrition">
                    <a href="#" class="link-efect">
                        <img src="assets/images/shopping-icon.png" width="15" height="15">
                        <p>A partir de 7,99</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="navheader6" class="disprow jc-center ai-c">
            <div class="container-button">
                <div class="button-descrition">
                    <a href="#" class="link-efect">
                        <img src="assets/images/icon-like.png" width="15" height="15">
                        <p>Mais vendidos</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="navheader7" class="disprow jc-center ai-c">
            <div class="container-button">
                <div class="button-descrition">
                    <a href="#" class="link-efect">
                        <p>Atendimento</p>
                    </a>
                </div>
            </div>
        </div>

        <div id="navheader8" class="disprow search-class jc-center ai-c">
            <form class="form">
                <input class="input" placeholder="Digite um produto" required="" type="text">
                <a href="#" class="link-efect">
                    <div class="button-search">
                        <img src="assets/images/search-icon.png" width="17" height="16">
                    </div>
                </a>
            </form>
        </div>
    </div>
</header>