<header style="height: 90px;">
    <div class="upHeaderNav">
        <div id="navupheader1" class="disprow jc-center ai-c">
            <p>Logo</p>
        </div>
        <div id="navupheader2" class="disprow jc-center ai-c">
            <p>Mais vendidos</p>
        </div>
        <div id="navupheader3" class="dispcol jc-center ai-c">
            <p>Descontos</p>
        </div>
        <div id="navupheader4" class="disprow jc-center ai-c">
            <input>
            <div>buscar</div>
        </div>
    </div>
    <div class="downHeaderNav">
        <div class="w-70 disprow">
            <div id="navdownheader1" class="disprow jc-center ai-c">
                <p>Recomendados</p>
            </div>
            <div id="navdownheader2" class="disprow jc-center ai-c">
                <p>Novidades</p>
            </div>
            <div id="navdownheader3" class="disprow jc-center ai-c">
                <p>A partir de 7,99</p>
            </div>
            <div id="navdownheader4" class="dispcol jc-center ai-c">
                <p>Atendimento</p>
            </div>
            <div id="navdownheader5" class="disprow jc-center ai-c">
                <p>Acessar Conta</p>
            </div>
        </div>
    </div>
</header>