.container-princ {display: block; padding: 15px 10px;}

a  {text-decoration: none;}

.title h3 {margin-block: 10px 15px; font-family: "Inter"; font-weight: 400;}
.subtitle {font-family: "Inter"; font-size: 13px;}

.divisior {border: 1px solid var(--color-border, #bdbdbd); width: 90%; margin-block: 15px 30px;}

.container-itens {padding: 30px 10px; gap: 23px; display: flex; flex-direction: column;}
.container-itenslist {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; gap: 10px;}
