<main>
    <div class="container-list">
      <app-product-card-row *ngFor="let card of cardcateg" [extclass]="card.extclass" [title]="card.title" [miniCards]="card.miniCard"></app-product-card-row>
      <app-product-card-row-2 *ngFor="let card of cards" [extclass]="card.extclass" [title]="card.title" [miniCards]="card.miniCard"></app-product-card-row-2>
    </div>

    <div class="container-itens">
        <div class="description">
            <span>Vendo por </span>
            <span class="title">'{{ title }}'</span>
        </div>

        <div class="container-itenslist">
            <app-mini-card *ngFor="let item of productCardList; let i = index"
                                 [title]="item.title"
                                 [srcImages]="item.src"
                                 [price]="item.price"
                                 [currency]="item.currency"
                                 [extclass]="item.extclass"
                                 [href]="item.href"
                                 [fullinfo]="item.fullinfo"
                                 [score]="item.score"></app-mini-card>
        </div>

        <div class="alert" [ngClass]="{'alert-active': endPage}">
            <span>"Você chegou ao final da página"</span>
        </div>

        <div class="control-buttons">
            <div class="control-button" (click)="backToStart()">
                <span>Voltar ao Inicio</span>
            </div>

            <div class="control-button" (click)="loadProductsList()">
                <span>Carregar mais produtos</span>
            </div>
        </div>
    </div>
</main>
