.container-list {display: flex; flex-direction: column;}

.container-itens {padding: 30px 10px; gap: 23px; display: flex; flex-direction: column;}
.container-itenslist {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; gap: 10px;}

.description span{font-family: "Inter", sans-serif; font-size: 20px;}
.description .title {font-weight: 700;}

.control-buttons {display: flex; justify-content: center; align-items: center; gap: 10px;}
.control-button  {border: 1px solid var(--color-border, #bdbdbd); border-radius: 20px; padding: 5px 10px; cursor: pointer; transition: 0.2s ease-out;}
.control-button:hover {border: 1px solid var(--color-primary, #292617); background: var(--tertiary-background, #eeeeee);}