.container-principal {height: 360px; width: calc(100% - 20px); display: flex; flex-direction: column; position: relative; background-color: var(--secondary-background, #f1f1f1); overflow: hidden; margin: 35px 10px;}

.dlegenda {max-height: 22%; width: calc(100% - 70px); font: 24px "Poppins", sans-serif; font-weight: bold; padding: 17px 35px 10px;}

.mov-button {border: 1px solid rgb(68, 68, 68); backdrop-filter: blur(6px); border-radius: 20px; padding: 3px; position: absolute; top: 50%; transform: translateY(-50%); transition: 0.2s; z-index: 10; width: 25px; height: 30px; cursor: pointer; background-color: #fafafa87; display: flex; justify-content:center; align-items: center;}
.mov-button img {width: 14px; height: 23px; user-select: none;}

.mov-button:hover {width: 27px; height: 42px; .mov-button img {width: 16px; height: 25px;}}

.prev-button {left: 10px;}
.next-button {right: 10px;}

.dnone {display: none;}
.dflex {display: flex;}

.container-cardrow {height: 100%; width: calc(100% - 50px); overflow-y: hidden; overflow-x: auto; margin-inline: 25px; display: flex;}

.container-minicard {display: flex; overflow-x: auto; gap: 10px;}
