.container-principal {height: 360px; width: calc(100% - 20px); display: flex; flex-direction: column; position: relative; background-color: var(--secondary-background, #dedede); overflow: hidden; margin: 35px 10px;}

.dlegenda {height: 22%; width: 100%; font: 24px Arial, sans-serif; font-weight: bold; padding-inline: 20px; padding-top: 15px; font-size: 21px}

.mov-button {border: 1px solid rgb(68, 68, 68); backdrop-filter: blur(6px); border-radius: 7px; padding: 3px; position: absolute; top: 50%; transform: translateY(-50%); transition: 0.2s; z-index: 10; width: 25px; height: 40px; cursor: pointer; background-color: #d8d8d887; display: flex; justify-content:center; align-items: center;}
.mov-button img {width: 14px; height: 23px;}

.mov-button:hover {width: 27px; height: 42px; .mov-button img {width: 16px; height: 25px;}}

.prev-button {left: 10px;}
.next-button {right: 10px;}

.dnone {display: none;}
.dflex {display: flex;}

.container-cardrow {height: 78%; width: calc(100% - 50px); overflow-y: hidden; overflow-x: auto; margin-inline: 25px; display: flex;}

.container-minicard {display: flex; overflow-x: auto; gap: 10px;}