.container-main {display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;}
.container      {display: flex; flex-direction: column; padding: 20px 30px; gap: 15px; border: 2px solid var(--color-primary, #292617); border-radius: 5px; background-color: #fff;}
.title          {font: 24px "Poppins", sans-serif; text-align: center;}
.title       h3 {margin-block: 2px;}
.dnone          {display: none !important;}
.about          {background-color: #ffffff6e; border-radius: .5rem; padding: 8px 30px; border: 2px solid transparent; border: 2px solid var(--color-primary, #292617); width: 195px}
.about        p {margin: 0px; font: 15px "Poppins", sans-serif;}
.info           {margin-top: 10px; cursor: pointer; display: flex; justify-content: center;}
.info         a {text-decoration: none; color: #000; text-align: center;}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width:  85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.control-buttons {display: flex; justify-content: center; align-items: center; gap: 10px;}
.control-button  {border: 1px solid var(--color-border, #bdbdbd); color: #fff; background: var(--color-primary, #eeeeee); border-radius: 30px; font-size: 18px; padding: 15px 20px; cursor: pointer; transition: 0.2s ease-out;}
.control-button:hover {border: 1px solid var(--color-primary, #292617);}

.alert {height: 0; opacity: 0; visibility: hidden; overflow: hidden; transition: opacity 0.3s, height 0.3s; display: flex; justify-content: center;}
.alert span {color: #b60000; font-size: 14px; font-family: "Inter";}
.alert-active { height: auto; opacity: 0.8; visibility: visible; margin-block: 10px;}
