.container-categories {height: 400px;
                       width:  680px;
                       background-color: var(--primary-background, #e5e5e5);
                       border-radius: 10px;
                       display: flex;
                       padding: 10px;}
/* 
.container-categories::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 60px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--secondary-background, #f1f1f1);
} */

.list-categ {width: 35%; height: 100%; display: flex; flex-direction: column; border-right: 1px solid var(--color-border, #bdbdbd);}
.list-categ ol {max-height: 550px; overflow-y: auto; padding: 0;}

.list-categ li {list-style-type: none; width: 100%;}

.link-categ {display: inline-block;  text-decoration: none; cursor: pointer; width: 100%;}

.button-category {display: flex; flex-direction: row; align-items: center; width: calc(100% - 10px); padding: 7px 5px; cursor: pointer; border-radius: 20px;}
.button-category:hover {background-color: #dadada;}

.name-categ {width: 90%; }
.name-categ label {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 14px; cursor: pointer;}

.arrow-link {width: 15px; height: 15px; filter: invert(50%); transform: rotate(270deg);}

.list-subcateg {width: 65%; height: 100%; border-left: 1px solid var(--color-border, #bdbdbd); overflow: hidden;}

.path-subcateg {margin-left: 20px; margin-block: 5px 15px; font-family: "Inter"; white-space: nowrap; font-size: 15px; overflow: hidden; color: var(--color-label, #313131); text-overflow: ellipsis; font-weight: 600;}

.container-subcategories {  display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px;}
.subcategory {display: flex; flex-direction: column; width: 130px; height: 100px; align-items: center;}

.image-subcateg {width: 90px; height: 70px; border-top-left-radius: 50px; border-top-right-radius: 50px;}
.name-subcateg {width: 130px; overflow: hidden; text-overflow: ellipsis; text-align: center;}
.name-subcateg label {color: var(--color-label, #313131); font-family: "Inter"; white-space: nowrap; font-size: 14px; cursor: pointer; overflow: hidden;}
