:root {
    --primary-background: #e5e5e5;
    --secondary-background: #f1f1f1;
    --tertiary-background: #eeeeee;
    --color-primary: #D68477;
    --color-secondary: #99C7C5;
    --color-border: #bdbdbd;
    --color-header: #1f1931;
    --color-header-inv: #f1f1f1;
}

body {margin: 0; background: var(--primary-background, #f1f1f1); min-width: 1500px;}


.h110px {height: 110px;}
.product-class  {width: 170px;}
.category-class {width: 200px; border-top-right-radius: 30px; border-top-left-radius: 30px;}

.disprow {display: flex; flex-direction: row;}
.dispcol {display: flex; flex-direction: column;}

.prelative {position: relative;}

.jc-center {justify-content: center;}
.ai-c      {align-items: center;}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #aaa;
}